# Exam R
Mark Klik & Misja Mikkers

# Introduction

Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [111]:
NAME = "Daniel Wolswijk, #2008444#"
COLLABORATORS = ""

Fill in the cell above to provide us with your name and student number, like

NAME = "Adam Smith, #student number#"

where you replace "#student number#" with your ... (very good!)

Unfortunately, you are not allowed to work with "COLLABORATORS" in this exam.

## exam September 21th, 2018

With this R part of the exam you can earn at max. 4 points.

In the first cell of the notebook, give us your name and student number in the way indicated above.

Fill in the notebook (see below for code cells and text cells that you need to fill in).

If you look at the menus above (File, Edit, View etc.), there is one called "Cell". If you click on this, you can change the "Cell Type". Choose "Code" when you are typing python or R code. Choose "Markdown" when you are typing, well, markdown.

When you finish the notebook, make sure that you save it with the output of your code included.

Then put it on github, e.g. by dragging it onto github (see instructions below).

Finally, add a link to your README file with the name of this exam: "Exam R September 7, 2018".

# Packages

You will need the following packages for this exam.

In [112]:
library(tidyverse)
library(gvlma)

# Assignment 1

## Data

Please read in "Medicaid.csv" and check the structure.

If needed change the variables Recipients and Total_costs into a numeric variable.

Hint: don't forget you cannot change a factor in a numeric variable directly!

In [113]:
Healthcare <- read.csv2("Medicaid.csv") %>%
mutate(Recipients= as.numeric(as.character(Recipients))) %>%
mutate(Total_costs= as.numeric(as.character(Total_costs)))

In [114]:
Healthcare

   Year Recipients Total_costs
1  2003 4267573    36142075737
2  2004 4594667    38926018824
3  2005 4733617    40803778540
4  2006 4730167    40712547369
5  2007 4622782    42127412366
6  2008 4657242    44239141758
7  2009 4911408    47021820192
8  2010 5212444    49221108692
9  2011 5398722    49975969554
10 2012 5598237    49734737508
11 2013 5805282    49461002640
12 2014 6327708    52595908896
13 2015 6700524    55647851820



## New variable

You will now have to make a new variable called "Cost_per_Recipient" by dividing the variable "Total_Costs" by the variable "Recipients". You will have to use the "pipe-operator". You have to show the "head" of the dataframe.

In [115]:
Cost_per_Recipient <- (Healthcare$Total_costs / Healthcare$Recipients)

In [116]:
Cost_per_Recipient

 [1] 8469 8472 8620 8607 9113 9499 9574 9443 9257 8884 8520 8312 8305

In [117]:
head(Cost_per_Recipient)

[1] 8469 8472 8620 8607 9113 9499

## Plot 1

Now you have to make a line plot of the data:

* with Year on the x-axis
* Cost_per_Recipient on the y-axis
* The line should have size 3 and the color "red"
* The name on the Y axis should be "Cost per enrollee"

In [118]:
 ggplot(data=Cost_per_Recipient, aes(x=Year, y=Cost_per_Recipient))+geom_point()+geom_smooth(method=lm, col="red")+title(ylabel("Cost per enrollee"))+theme_light()

ERROR: Error: ggplot2 doesn't know how to deal with data of class numeric

End of notebook